<div class="my-header">
  <h3>Dashboard</h3>
</div>

<div class="text-left">
  <p>
    <span><a class="btn btn-light" href="/add" >Add New</a></span>
    <br>
    <span>Click a blog header to update or delete a post.</span>
    <!-- <button class="btn btn-light">Update</button>
    <button class="btn btn-light">Delete</button> -->
  </p>
</div>

<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
<div class="row mb-4 post">
  <div class="col-md-12">

    <table class="my-table">
      <tr class="my-table-row">
        <td class="bg-light my-title-l"><a class="my-href" href="/update/{{post.id}}">{{post.title}}</a></td>
        <td class="bg-light my-title-r">Created by: {{post.user.name}} on {{format_date date_created}}</td> 
      </tr>
    </table>

  </div>
  <div class="col-md-12 my-text">
    <p>
      {{post.post_text}}
    </p>
  </div>
</div>
{{/each}}